nav {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  padding-inline: 1rem;
  padding-block: 1.5rem;
  color: var(--clr-gray);
  .logo {
    width: 5rem;
    height: auto;
    margin-top: 1em;
  }
  .menu-icon {
    width: 2rem;
    aspect-ratio: 1;
  }
  .close-icon {
    width: 2rem;
    aspect-ratio: 1;
  }

  li {
    display: inline-block;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    .accordion-toggle {
      position: absolute;
      box-sizing: content-box;
    }
    ul li img {
      margin-left: 0;
      margin-right: 0.8rem;
      width: 1rem;
    }
  }
  .disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
}

// desktop size css
@media only screen and (min-width: 1024px) {
  nav {
    padding-inline: 2.5rem;
    .button-container {
      margin: 0;
      transform: translateY(-1em);
    }
    button:first-of-type {
      margin-left: auto;
    }
    ul {
      list-style-type: none;
      display: flex;
      align-items: start;
    }
    li {
      position: relative;
      padding-block: 1em;
      margin-inline: 1rem;
      .accordion-toggle {
        top: 0;
        right: -1rem;
        width: 0.8rem;
        padding-left: 5.2rem;
        padding-block: 1.3rem;
      }
      ul {
        position: absolute;
        top: 3rem;
        background-color: white;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.281);
        display: grid;
        justify-content: center;
        padding: 0;
        border-radius: 1rem;
        line-height: 2;
        padding-block: 1.5rem;
        li {
          padding-block: 0;
        }
      }
      .ul-0 {
        left: -5rem;
        right: -1rem;
      }
      .ul-1 {
        left: -0.5rem;
        right: -2rem;
      }
    }
    .d-none {
      display: none;
    }
  }
}

// mobile view css
@media only screen and (max-width: 1023px) {
  nav {
    display: flex;
    justify-content: space-between;
    .logo {
      margin-top: 0;
    }
  }
  .menu-icon {
    z-index: 5;
  }
  .nav-links {
    margin: 0;
    padding-left: 30%;
    padding-top: 5rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    transition: 500ms;
    transform: translateX(110vh);
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.642) 30%,
      #fff 0 100%
    );
    // selects arrow img without the submenu img
    > li > img {
      margin-left: 0.58rem;
      width: 0.8rem;
    }
    li {
      padding-inline: 1rem;
      line-height: 2.5;
      display: block;
      .accordion-toggle {
        top: 0;
        left: 0.2rem;
        width: 0.8rem;
        padding-top: 1rem;
        padding-bottom: 0.8rem;
        padding-left: 5.2rem;
        padding-right: 0.5rem;
      }
      > ul {
        padding-left: 0;
        li {
          padding-left: 1.5rem;
        }
      }
    }
    button {
      &:first-of-type {
        margin-top: 1rem;
      }
      width: calc(100% - 4rem);
      align-self: center;
      margin-bottom: 0;
    }
  }

  .responsive_nav {
    transform: none;
  }

  .height-0 {
    max-height: 0;
    overflow: hidden;
  }
}
