nav {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  padding-inline: 1rem;
  padding-block: 1.5rem;
  color: var(--clr-gray);
  .logo {
    width: 5rem;
    height: auto;
    margin-top: 1em;
  }
  .menu-icon {
    width: 2rem;
    aspect-ratio: 1;
  }
  .close-icon {
    width: 2rem;
    aspect-ratio: 1;
  }
  ul {
    list-style-type: none;
    display: flex;
  }

  li {
    display: inline-block;
    margin-inline: 1rem;
    img {
      margin-left: 0.58rem;
      width: 0.8rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    padding-inline: 2.5rem;
    .button-container {
      margin: 0;
      transform: translateY(-1em);
    }
    button:first-of-type {
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 1023px) {
  nav {
    display: flex;
    justify-content: space-between;
    .logo {
      margin-top: 0;
    }
  }
  .menu-icon {
    z-index: 5;
  }
  .nav-links {
    margin: 0;
    padding-left: 30%;
    padding-top: 5rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    transition: 500ms;
    transform: translateX(110vh);
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.642) 30%,
      #fff 0 100%
    );
    li {
      padding-inline: 1rem;
      line-height: 2.5;
      display: block;
      // img {
      // margin-left: 0.58rem;
      // width: 0.8rem;
      // }
      > ul {
        padding-left: 0;
        li {
          padding-left: 1.5rem;
          & img {
            margin-left: 0;
            margin-right: 0.8rem;
            width: 1rem;
          }
        }
      }
    }
    button {
      &:first-of-type {
        margin-top: 1rem;
      }
      width: calc(100% - 4rem);
      align-self: center;
      margin-bottom: 0;
    }
  }

  .responsive_nav {
    transform: none;
  }

  .height-0 {
    max-height: 0;
    overflow: hidden;
  }
}
